* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
  top: 0;

}

body {
  scroll-snap-type: y mandatory;
  top: 0;
}

.page {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: white;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.page.visible {
  opacity: 1;
}

#page-1 {
  background: url(bg-1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
}

#page-2 {
  background: url(bg-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#page-3 {
  background: url(bg-3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#page-4 {
  background: url(bg-4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  height: 60px;
  position: fixed;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  
  top: 0;
  z-index: 99;
  background: transparent;

  
}

.hb-1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

/* header-toggle */

#openModal {
  width: 35px;
  height: 35px;
  background: transparent;
  border: 2px solid white;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-bottom: 4px;
}

#openModal:active {
  color: rgb(255, 0, 0);
  border: 2px solid rgb(255, 0, 0);
}

.model {
  width: 300px;
  height: 50vh;
  margin-top: 50vh;
  background-color: rgb(164, 39, 152);
  opacity: 0;
  display: none;
  position: fixed;

  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.model.open {
  display: block;
  opacity: 1;
  z-index: 99;
}

.hb-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 5px;
}

.hline-1 {
  width: 90%;
  height: 0;
  border: 2px solid white;
}

.hline-2 {
  width: 70%;
  height: 0;
  border: 2px solid white;
}

.hb-3 {
  width: 100%;
  height: 100%;
}



footer {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  background: transparent;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  
  z-index: 99;
  background: transparent;
}

.foot-1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.foot-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.fline-1 {
  width: 90%;
  height: 0;
  border: 2px solid white;
}

.fline-2 {
  width: 70%;
  height: 0;
  border: 2px solid white;
}

.foot-3 {
  width: 100%;
  height: 100%;
}