* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
  top: 0;

}

body {
  scroll-snap-type: y mandatory;
  top: 0;
}

.page {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: white;
  opacity: 0;
  transition: opacity 1s ease;
}

.page.visible {
  opacity: 1;
}

#page-1 {
  background-color: #6bb5e6;
  top: 0;
}

#page-2 {
  background-color: #db7266;
}

#page-3 {
  background-color: #62da78;
}

#page-4 {
  background-color: #e665e6;
}


#main {
  width: 100%;
  height: 100vh;
  top: 0;
}


header {
  width: 100%;
  height: 60px;
  position: fixed;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  
  top: 0;
  z-index: 99;
  background: transparent;

  
}

.hb-1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.hb-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 5px;
}

.hline-1 {
  width: 90%;
  height: 0;
  border: 2px solid white;
}

.hline-2 {
  width: 70%;
  height: 0;
  border: 2px solid white;
}

.hb-3 {
  width: 100%;
  height: 100%;
}


/* header-toggle */

#openModal {
  position: absolute;
  width: 35px;
  height: 35px;
  background: transparent;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.model {
  width: 300px;
  height: 50vh;
  background-color: rgb(164, 39, 152);
  opacity: 0;
  position: fixed;

  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.model.open {
  opacity: 1;
  z-index: 99;
}

footer {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  background: transparent;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  
  z-index: 99;
  background: transparent;
}

.foot-1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.foot-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.fline-1 {
  width: 90%;
  height: 0;
  border: 2px solid white;
}

.fline-2 {
  width: 70%;
  height: 0;
  border: 2px solid white;
}

.foot-3 {
  width: 100%;
  height: 100%;
}