* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
  top: 0;
  align-items: center;
  justify-content: center;
}

body {
  scroll-snap-type: y mandatory;
  top: 0;
}

.page {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: white;
}

#page-1 {
  background: url(bg-1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
}

#page-2 {
  background: url(bg-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#page-3 {
  background: url(bg-3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#page-4 {
  background: url(bg-4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#page-5 {
  background: url(bg-5.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#page-6 {
  background: url(bg-6.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* overlay */

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: transparent;
}

/* header */

header {
  width: 100%;
  height: 9vh;
  position: fixed;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  top: 0;
  background: transparent;

}

.hb-1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

/* header-toggle */

#toggle-btn {
  width: 35px;
  height: 35px;
  background: transparent;
  border: 2px solid white;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-bottom: 4px;
  pointer-events: auto;
}

#toggle-btn:active {
  color: rgb(255, 0, 0);
  border: 2px solid rgb(255, 0, 0);
}

.overlay-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
}

.hb-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 5px;
}

.hline-1 {
  width: 90%;
  height: 0;
  border: 2px solid white;
}

.hline-2 {
  width: 70%;
  height: 0;
  border: 2px solid white;
}

.hb-3 {
  width: 100%;
  height: 100%;
}

/* toggle */

.hidden {
  display: none;
  transition: all 0.8s ease-in-out;
}

#box {
  width: 167px;
  height: 85%;
  padding-top: 20px;
  margin: 19px;
}

#box a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 5px 0;
  pointer-events: auto;
  border-left: 3px solid white;
  font-weight: bold;
}

#box a:hover {
  color: rgb(255, 0, 0);
  font-size: 18px;
  display: block;
  padding: 5px 0;
}

/* main */

main {
  width: 100%;
  height: 82vh;
  border: 2px solid white;
}


footer {
  width: 100%;
  height: 9vh;
  position: fixed;
  bottom: 0;
  background: transparent;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  background: transparent;
}

.foot-1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.foot-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.fline-1 {
  width: 90%;
  height: 0;
  border: 2px solid white;
}

.fline-2 {
  width: 70%;
  height: 0;
  border: 2px solid white;
}

.foot-3 {
  width: 100%;
  height: 100%;
}